################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
Debug/
*.vcxproj.filters
*.vcxproj.user
*.ipch
*.sdf
*.opensdf
*.suo

