################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gstreamer-sharp-test/GstreamerTest/.vs/GstreamerTest
